.ripple {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    background-color: #f5f5f5;
    border-radius: 50%;
    opacity: 0.2;
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;
  }
  &:not(:active):after {
    animation: ripple-effect 1s ease-out;
  }
  &:focus {
    &::after {
      visibility: visible;
    }
  }
  &-dark {
    &::after {
      background-color: #ddd;
    }
  }
}

.button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

button,
.button {
  outline: none;
  cursor: pointer;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.btn {
  &--orange {
    background: #F15C2C;
    border: none;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 30px;
    transition: all 0.2s ease-in-out;
    &:hover{
      transform: scale(1.05);
    }
    &.disabled{
      background: lighten(#f15c2c, 10%);
    }
  }
  &--big{
    padding: 15px 40px;
  }
  &--small{
    padding: 5px 10px;
    font-size: 14px;
  }
  &--add-to-cart{
    position: relative;
    text-align: left;
    padding-left: 35px;
    &::before{
      content: "";
      position: absolute;
      top: 0px;
      left: 10px;
      bottom: 0px;
      margin: auto;
      width: 19px;
      height: 17px;
      background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOSAxNy4wMDEiPgogIDxwYXRoIGlkPSJTaGFwZV82IiBkYXRhLW5hbWU9IlNoYXBlIDYiIGQ9Ik0xMDIwLjIyLDE0MzQuMjNhMS43MywxLjczLDAsMSwxLDEuNzMsMS43N0ExLjc1LDEuNzUsMCwwLDEsMTAyMC4yMiwxNDM0LjIzWm0tOC45NDEsMGExLjczMSwxLjczMSwwLDEsMSwxLjczMSwxLjc3QTEuNzUxLDEuNzUxLDAsMCwxLDEwMTEuMjgsMTQzNC4yM1ptLjIxOC0yLjUyMi0xLjAyMi02LjQ2MS0uNzQzLTQuMzc3SDEwMDZWMTQxOWg1LjI2NWwuNTkyLDMuNDkxSDEwMjVsLTEuNDU5LDkuMjE4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEwMDYgLTE0MTguOTk5KSIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4K");
    }
  }
}
